/*************************
		Variables
*********************/


//Colores
@amarilloStarWars: #FFE300;


// Star Jedi Font
@font-face {
	font-family: 'star_jediregular';
	src: url('fonts/starjedi-webfont.woff2') format('woff2'),
		url('fonts/starjedi-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*************************
		Inicio
*********************/
#inicio {
	background-image: url('../assets/death-star-wallpaper.jpg');
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;

	font-family: 'Roboto';

	span {
		font-family: 'star_jediregular';
		text-transform: uppercase;
		color: @amarilloStarWars;
	}
}

#categorias {

	.col-8.col-md-4.m-3.align-self-center {
		max-width: 450px;
	}

	img {
		max-width: 100px;
	}
}

/*************************
		Navegación
*********************/
.navbar {

	.site-logo {
		font-family: 'star_jediregular';
		text-transform: uppercase;
		color: @amarilloStarWars;

		&:hover {
			color: @amarilloStarWars;
		}
	}

}


/*************************
		Películas
*********************/
*[data-toggle="collapse"] {
	vertical-align: middle;
}

.smaller-icon {
	font-size: 9px;
}

#fichaPelicula img {
	max-width: 200px;
}


/*************************
		Footer
*********************/

footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}