<IfModule mod_rewrite.c>

	# Activar RewriteEngine
	RewriteEngine on
	RewriteBase /

	# Error 404
	#ErrorDocument 404 /404.php


	# Reescritura de URLs

	RewriteRule ^/?inicio/?$ /index.php
	RewriteRule ^/borrar.php/?$ /index.php


	#Páginas
		# Películas
		RewriteRule ^/?peliculas/?$ /peliculas.php

			# Película Individual
			RewriteRule ^/?peliculas/([0-9]+)/?$ /verpelicula.php?numero=$1 [L]

		# Personajes
		RewriteRule ^/?personajes/?$ /personajes.php

		# Otros - Buscador General
		RewriteRule ^/?buscar/?$ /buscador.php

		#May 4th - 4 de mayo (día)
		RewriteRule ^/?may4/?$ /4mayo.php

</IfModule>